#our-services {
    background-color: rgba(199, 56, 189, 0.3);
    color: #850F8D;
}

.service-img {
    width: 100%;
    height: auto;
}
.service-card {
    margin-bottom: 30px;
}

.btn {
    background-color: #C738BD;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
}

.btn:hover {
    background-color: #E49BFF;
}

.card-body {
    padding: 30px;
}

.card-title {
    font-weight: 700;
}

.card-text {
    font-size: 20px;
}